[submodule "themes/redlounge"]
	path = themes/redlounge
	url = git@github.com:tmaiaroto/hugo-redlounge.git
[submodule "themes/hyde"]
	path = themes/hyde
	url = git@github.com:spf13/hyde.git
[submodule "themes/hyde-x"]
	path = themes/hyde-x
	url = git@github.com:zyro/hyde-x.git
[submodule "themes/purehugo"]
	path = themes/purehugo
	url = git@github.com:dplesca/purehugo.git
[submodule "themes/vienna"]
	path = themes/vienna
	url = git@github.com:keichi/vienna.git
